{% extends 'layout/default.html.twig' %}

{% block title %}Verkoper - Lunenburg{% endblock %}

{% block content %}

<style>

.zoekformulier{

padding: 20px;
margin-top: 20 px;


}


</style>


<div class= "zoekformulier">
<form>
<input name="q" value="{{ q }}" placeholder="Zoeken" />
<button type="submit">Zoeken</button>
</form>
</div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Omschrijving</th>
                        <th scope="col">Specificaties</th>
                        <th scope="col">Inkoopprijs</th>
                        <th scope="col">Technische voorraad</th>
                        <th scope="col">Gereserveerde voorraad</th>
                        <th scope="col">Vrije voorraad</th>
                        <th scope="col">Verkopen</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for artikel in artikelen %}
                    <tr>
                        <th scope="row">{{ artikel.artikelnummer }}</th>
                        <td>{{ artikel.omschrijving }}</td>
                        <td>{{ artikel.specificaties }}</td>
                        <td>{{ artikel.inkoopprijs }}</td>
                        <td>{{ artikel.voorraadaantal }}</td>
                        <td>{{ artikel.gereserveerdeVoorraad}}</td>
                        <td>{{ artikel.vrijeVoorraad }}</td>
                        <td>{{ artikel.verkopen }}</td>
                        <td><a class="btn btn-sm btn-primary" href="{{ path('verkoperartikelwijzigen', {'artikelnummer':artikel.artikelnummer}) }}">Verkopen wijzigen</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}
