{% extends 'layout/default.html.twig' %}

{% block title %}Verkoper - Lunenburg{% endblock %}

{% block content %}

    <div class="page-header">
        <div class="container-fluid">

            {% if status == 0 %}
                <a class="navbar-brand">Overzicht - Alle artikelen</a>
                {% elseif status == 1 %}
                <a class="navbar-brand">Overzicht - In voorraad</a>
                {% elseif status == 2 %}
                <a class="navbar-brand">Overzicht - Uit voorraad</a>
                {% endif %}

            <p></p>

            {% if status != 0 %}
                <a class="btn btn-outline-primary" href="{{ url('verkoper', {'status': 0, 'q': q}) }}">Alle artikelen</a>
            {% endif %}
            {% if status != 1 %}
                <a class="btn btn-outline-primary" href="{{ url('verkoper', {'status': 1, 'q': q}) }}">In voorraad</a>
            {% endif %}
            {% if status != 2 %}
                <a class="btn btn-outline-primary" href="{{ url('verkoper', {'status': 2, 'q': q}) }}">Uit voorraad</a>
            {% endif %}


            <br /><br />

            <form>
                <input name="q" value="{{ q }}" placeholder="Zoeken" />
                <button type="submit">Zoeken</button>
            </form>

            <br />
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Omschrijving</th>
                        <th scope="col">Specificaties</th>
                        <th scope="col">Minimum voorraad</th>
                        <th scope="col">Voorraad aantal</th>
                        <th scope="col">Verkopen</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for artikel in artikelen %}
                    <tr>
                        <th scope="row">{{ artikel.artikelnummer }}</th>
                        <td>{{ artikel.omschrijving }}</td>
                        <td>{{ artikel.specificaties }}</td>
                        <td>{{ artikel.minimumVoorraad }}</td>
                        <td>{{ artikel.voorraadaantal }}</td>
                        <td>{{ artikel.verkopen }}</td>
                        <td><a class="btn btn-sm btn-primary" href="{{ path('verkoperartikelwijzigen', {'artikelnummer':artikel.artikelnummer}) }}">Verkopen wijzigen</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}