{% extends 'layout/default.html.twig' %}

{% block title %}Inkoper - Lunenburg{% endblock %}

{% block content %}

    <div class="page-header">
        <div class="container-fluid">
            <p></p>

            
            <a class="btn btn-outline-primary" href="{{ url('inkoper')}}">Alle artikelen</a>
            <a class="btn btn-outline-primary" href="{{ url('allebestelopdrachten') }}">Bestelopdrachten</a>
            <a class="btn btn-outline-success" href="{{ url('artikelnieuw') }}"><i class="fas fa-plus"></i> Artikel toevoegen</a>
            <a class="btn btn-outline-success" href="{{ url('bestellingnieuw') }}"><i class="fas fa-plus"></i> Bestelling toevoegen</a>

            <br />
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Bestelordernummer</th>
                        <th scope="col">Artikelnummer</th>
                        <th scope="col">Omschrijving</th>
                        <th scope="col">Aantal</th>
                        <th scope="col">Magazijnlocatie</th>
                        <th scope="col">Keuringseisen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bestelling in bestellingen %}
                        {% for bestelregel in bestelling.bestelregels %}
                        <tr>
                            <th scope="row">{{ bestelling.bestelordernummer }}</th>
                            <td>{{ bestelregel.artikel.artikelnummer }}</td>
                            <td>{{ bestelregel.artikel.omschrijving }}</td>
                            <td>{{ bestelregel.aantal }}</td>
                            <td>{{ bestelregel.artikel.magazijnlocatie }}</td>
                            <td>{{ bestelling.keuringseisen }}</td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}