{% extends 'layout/default.html.twig' %}

{% block title %}Inkoper - Lunenburg{% endblock %}

{% block content %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Omschrijving</th>
                        <th scope="col">Specificaties</th>
                        <th scope="col">Magazijnlocatie</th>
                        <th scope="col">Inkoopprijs</th>
                        <th scope="col">Vervangend artikel</th>
                        <th scope="col">Minimum voorraad</th>
                        <th scope="col">Voorraad aantal</th>
                        <th scope="col">Bestelserie</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for artikel in artikelen %}
                    <tr>
                        <th scope="row">{{ artikel.artikelnummer }}</th>
                        <td>{{ artikel.omschrijving }}</td>
                        <td>{{ artikel.specificaties }}</td>
                        <td>{{ artikel.magazijnlocatie }}</td>
                        <td>{{ artikel.inkoopprijs }}</td>
                        <td>{{ artikel.vervangendArtikel }}</td>
                        <td>{{ artikel.minimumVoorraad }}</td>
                        <td>{{ artikel.voorraadaantal }}</td>
                        <td>{{ artikel.bestelserie }}</td>
                        <td><a class="btn btn-sm btn-primary" href="{{ path('inkoperartikelwijzigen', {'artikelnummer':artikel.artikelnummer}) }}">Wijzigen</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}

{% block javascripts %}
    {% if alert %}
        <script>
            if(confirm('Er zijn goederen die besteld moeten worden, wilt u naar het overzicht?')) {
                window.location.href = '{{ url('inkopervoorraad') }}';
            }
        </script>
    {% endif %}
{% endblock %}
