{% extends 'layout/default.html.twig' %}

{% block title %}Inkoper - Lunenburg{% endblock %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Inkoper</h1>
            <p>U bent ingelogd als een inkoper.</p>
            <a class="btn btn-outline-success" href="{{ url('artikelnieuw') }}"><i class="fas fa-plus"></i> Artikel toevoegen</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Artikeloverzicht</h2>
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Omschrijving</th>
                        <th scope="col">Specificaties</th>
                        <th scope="col">Magazijnlocatie</th>
                        <th scope="col">Inkoopprijs</th>
                        <th scope="col">Vervangede artikel</th>
                        <th scope="col">Minimumvoorraad</th>
                        <th scope="col">Voorraadaantal</th>
                        <th scope="col">Bestelserie</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for artikel in artikelen %}
                    <tr>
                        <th scope="row">{{ artikel.artikelnummer }}</th>
                        <td>{{ artikel.omschrijving }}</td>
                        <td>{{ artikel.specificaties }}</td>
                        <td>{{ artikel.magazijnlocatie }}</td>
                        <td>{{ artikel.inkoopprijs }}</td>
                        <td>{{ artikel.vervangendeArtikel }}</td>
                        <td>{{ artikel.minimumVoorraad }}</td>
                        <td>{{ artikel.voorraadaantal }}</td>
                        <td>{{ artikel.bestelserie }}</td>
                        <td><a class="btn btn-sm btn-primary" href="{{ path('inkoperartikelwijzigen', {'artikelnummer':artikel.artikelnummer}) }}">Wijzigen</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}