<style>



.dropbtn {
    background-color: #343A40;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: #505a63;
}

.nav-link{

margin-left: 1200px;
color: white;
}

.nav-link:hover{
color: red;

}
</style>


<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="dropdown">
    <button class="dropbtn">Inkoper</button>
    <div class="dropdown-content">

          <a href="http://localhost/projectlunenburg/web/app_dev.php/inkoper/alle">Alle artikelen</a>
          <a href="{{ url('artikelnieuw') }}"> Artikel toevoegen</a>
          <a href="{{ url('allebestelopdrachten') }}">Bestelopdrachten</a>
          <a href="{{ url('bestellingnieuw') }}"> Bestelopdracht toevoegen</a>
          <a href="{{ url('inkoper')}}">In voorraad</a>
          <a href="http://localhost/projectlunenburg/web/app_dev.php/inkoper/voorraad/bestellen">Uit voorraad</a>



    </div>
    {% endif %}
</div>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="dropdown">
    <button class="dropbtn">verkoper</button>
    <div class="dropdown-content">

    <a href="http://localhost/projectlunenburg/web/app_dev.php/verkoper/alle">Alle artikelen</a>
    <a href="{{ url('verkoper') }}">In voorraad</a>
    <a href="http://localhost/projectlunenburg/web/app_dev.php/verkoper/2">Uit voorraad</a>


    </div>
    {% endif %}
</div>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="dropdown">
    <button class="dropbtn">magazijnmeester</button>
    <div class="dropdown-content">

    <a href="http://localhost/projectlunenburg/web/app_dev.php/magazijnmeester0">Alle artikelen</a>
    <a href="http://localhost/projectlunenburg/web/app_dev.php/magazijnmeester">In voorraad</a>
    <a href="http://localhost/projectlunenburg/web/app_dev.php/magazijnmeester2">Uit voorraad</a>



    </div>
    {% endif %}
</div>



<a class="nav-link" href="{{ url('security_logout') }}">Uitloggen</a>
